<md-card class="movie-card-style">
  <md-card-header>
    <md-card-title>{{movie.Title}}</md-card-title>
    <md-card-subtitle>
      <div id="rating">{{movie.Rated}}</div>{{movie.Year}} | {{movie.Genre}}<br/>{{movie.Runtime}}
    </md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <img md-card-image src="{{movie.Poster}}" id="poster-image">
    <br/>
    <p (click)="toggleExpand(1)" [ngClass]="{'truncate': expand !== 1}">{{movie.Plot}}</p>
    <br/>
    <p (click)="toggleExpand(2)" [ngClass]="{'truncate': expand !== 2}"><b>Director: </b>{{movie.Director}}</p>
    <p (click)="toggleExpand(3)" [ngClass]="{'truncate': expand !== 3}"><b>Writer: </b>{{movie.Writer}}</p>
    <p (click)="toggleExpand(4)" [ngClass]="{'truncate': expand !== 4}"><b>Staring: </b>{{movie.Actors}}</p>
    <br/>
    <div class="flex-container">
      <div class="flex-item"><b>{{movie.imdbRating}}/10</b><br/>IMDb</div>
      <div class="flex-item" id="rotten"><b>{{movie.rottentomatoes}}</b><br/>Rotten Tomatoes</div>
      <div class="flex-item"><b>{{movie.Metascore}}</b><br/>Metacritic</div>
    </div>
    <md-card-actions>
      <button md-button (click)="clickLikeButton(movie)">LIKE</button>
      <button md-button (click)="clickWatchedButton(movie)">WATCHED</button>
    </md-card-actions>
  </md-card-content>
</md-card>
