<md-card class="movie-card-style" [ngClass]="{'liked': liked}">
  <md-card-header>
    <md-card-title>{{movie.Title}}</md-card-title>
    <md-card-subtitle>
      <div id="rating">{{movie.Rated}}</div><span>{{movie.Year}} | {{movie.Genre.split(',') | slice:0:3}}</span>
      <div>{{movie.Runtime}}</div>
    </md-card-subtitle>
    <md-chip-list>
      <md-chip *ngIf="liked" selected="true" class="like-chip">Liked</md-chip>
    </md-chip-list>
  </md-card-header>
  <md-card-content>
    <a href="http://www.imdb.com/title/{{movie.imdbID}}">
      <img md-card-image src="{{movie.Poster}}" id="poster-image">
    </a>
    <br/>
    <p (click)="toggleExpand(1)" [ngClass]="{'truncate': expand !== 1}">{{movie.Plot}}</p>
    <br/>
    <p (click)="toggleExpand(2)" [ngClass]="{'truncate': expand !== 2}"><b>Director: </b>{{movie.Director}}</p>
    <p (click)="toggleExpand(3)" [ngClass]="{'truncate': expand !== 3}"><b>Writer: </b>{{movie.Writer}}</p>
    <p (click)="toggleExpand(4)" [ngClass]="{'truncate': expand !== 4}"><b>Staring: </b>{{movie.Actors}}</p>
    <br/>
    <div class="flex-container">
      <div class="flex-item"><b>{{movie.imdbRating}}/10</b><br/>IMDb</div>
      <div class="flex-item" id="rotten"><b>{{movie.rottentomatoes}}</b><br/>Rotten Tomatoes</div>
      <div class="flex-item"><b>{{movie.Metascore}}</b><br/>Metacritic</div>
    </div>
    <md-card-actions>
      <div id="thumb-up">
        <button md-icon-button (click)="clickLikeButton(movie)">
          <md-icon [ngStyle]="{'color': thumb_up_clicked}">thumb_up</md-icon><br/>
        </button>
      </div>
      <div id="thumb-dn">
        <button md-icon-button (click)="clickDislikeButton(movie)">
          <md-icon>thumb_down</md-icon>
        </button>
      </div>
    </md-card-actions>
  </md-card-content>
</md-card>
