<md-card class="movie-card-style">
  <md-card-header>
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>{{movie.title}}</md-card-title>
    <md-card-subtitle>{{movie.year_released.getFullYear()}}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <h3>{{movie.director}}</h3>
    <p>
      {{movie.description}}
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="clickLikeButton(movie)">LIKE</button>
    <button md-button>SHARE</button>
  </md-card-actions>
</md-card>
