<md-toolbar class="toolbar">
  <md-input-container>
    <input mdInput placeholder="Filter" value="">
  </md-input-container>
  <span class="toolbar-spacer"></span>
  <md-select placeholder="Sort By">
    <md-option>Title</md-option>
    <md-option>Year</md-option>
    <md-option>Director</md-option>
    <md-option>Ratings</md-option>
  </md-select>
  <md-button-toggle-group>
    <md-button-toggle>
      <md-icon>list</md-icon>
    </md-button-toggle>
    <md-button-toggle>
      <md-icon>view_module</md-icon>
    </md-button-toggle>
  </md-button-toggle-group>
</md-toolbar>
