<md-toolbar class="toolbar">
  <!--<md-input-container>
    <input mdInput placeholder="Filter" value="">
  </md-input-container>-->


  <!-- PRIMARY FILTER -->
  <md-select [(ngModel)]="selectedFilter" placeholder="Filter">
    <md-option  *ngFor="let op of filterOptions" [value]="op" >{{op}}</md-option>
  </md-select>


  <!-- SECONDARY -->
  <md-select (change)="changeFilter()" *ngIf="selectedFilter" [(ngModel)]="selectedSpecFilter" >
    <md-option *ngFor="let op of filters[selectedFilter]" [value]="op">{{op}}</md-option>
  </md-select>

  <span class="toolbar-spacer"></span>

  <md-select placeholder="Sort By" [(ngModel)]="selectedOrder">
    <md-option *ngFor="let op of orders" [value]="op">{{op}}</md-option>
  </md-select>

  <!-- TO USE LATER MAYBE -->
  <!--<md-button-toggle-group>
    <md-button-toggle (click)="viewChange(false)">
      <md-icon>list</md-icon>
    </md-button-toggle>
    <md-button-toggle (click)="viewChange(true)">
      <md-icon>view_module</md-icon>
    </md-button-toggle>
  </md-button-toggle-group>-->
</md-toolbar>
