.toolbar-spacer {
  flex: 1 1 auto;
}

.drop-down-left {
  margin-left: 10px;
}

.drop-down-right {
  margin-right: 10px;
}

.toolbar {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  background-color: #eee;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
