<div class="container">
<div class="jumbotron text-center">
  <h1>Better Flix</h1>
  <md-icon class="logo">live_tv</md-icon>
  <h4>A better movie web-app</h4>
</div>


<!-- Test for selecting stuff? It wont show unless there is something selected. Currently NOT used. -->
<!--<div *ngIf="movieService.slctdMovie">
  <h2>{{movieService.slctdMovie.title}} details!</h2>
  <div><label>id: </label>{{movieService.slctdMovie.id}}</div>
</div>-->

<app-menu-bar (onOrderChange)="orderChange($event)" (onViewChange)="onViewChange($event)" (onFilterChange)="onFilterChanges($event)" ></app-menu-bar>

<ul class="flex-container" *ngIf="cardsView"> <!-- this [movie] thing corresponds to the app-movie-card movie-card -->
  <app-movie-card *ngFor="let movie of ( _movies | filterBy:filter ) | orderBy:order" [movie]="movie"></app-movie-card>
</ul>

<md-list *ngIf="!cardsView">
  <h1 md-subheader>Movies</h1>
  <app-movie-row *ngFor="let movie of _movies" [movie]="movie"></app-movie-row>
</md-list>


<button md-button (click)="testButton()">DISLIKED MOVIES</button>


</div>

